#pendulumCanvas, #traceCanvas {
    transform: scale(1) rotate(0deg);
    /*background: rgb(0, 150, 0);*/
    border: 1px solid #555555;
    width: 50%;
    height: 50%;
}

#pendulumCanvas {
    float: left;
}

#traceCanvas {
    float: right;
}
